.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* App.css */
.logo {
  height: 50px; /* Adjust as needed for smaller size */
  width: 50px; /* Adjust as needed for smaller size */
  border-radius: 50%; /* Makes the image rounded */
  margin-right: 20px; /* Adjust as needed for spacing */
  object-fit: cover; /* Ensures the image fits well within the rounded shape */
}

.rounded-navbar {
  border-radius: 5px; /* Adjust as needed for rounded corners */
  overflow: hidden; /* Ensure child elements don't overflow the rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add some shadow for better visibility */
}

/* App.css */
.rounded-sidebar {
  border-radius: 15px; /* Adjust as needed for rounded corners */
  overflow: hidden; /* Ensure child elements don't overflow the rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add some shadow for better visibility */
  padding: 10px; /* Optional: Add padding for better layout */
}
